.withinCircle {
  position: fixed;
  border: 1px solid white;
  background-color: white;
  opacity: 85%;
  margin-left: 10%;
  margin-top: 60px;
  padding: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px -10px #65565f;
  width: 800px;
  height: 800px;
}
.frequent-cities {
  position: fixed;
  width: 1500px;
  margin-top: 5px;
}
#my-video {
  position: fixed;
  margin-top: -25px;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
}
.topHalf {
  margin-left: 40px;
}
.city {
  font-size: 30px;
  margin-left: 30px;
  font-weight: bolder;
}
#countryID {
  font-size: 20px;
  font-weight: bolder;
}
.todaysDate {
  margin-left: 20px;
}
.temp {
  font-size: 50px;
  margin-left: 45px;
  font-weight: bolder;
}
.units {
  font-size: 20px;
  position: relative;
  top: -20px;
  text-decoration: none;
  margin-left: 5px;
}
.feelLike {
  margin-left: 35px;
}
#icon {
  width: 150px;
  height: 150px;
  margin-top: 15px;
}
.description {
  margin-top: -20px;
  margin-left: 50px;
}
.description:first-letter {
  text-transform: capitalize;
}
.extraInfo {
  text-align: center;
  list-style: none;
  margin-top: 30px;
}
li {
  display: inline;
  padding: 10px;
}
#formInput {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 5px;
}
.search-bar {
  width: 350px;
  border-radius: 10px;
  height: 40px;
  box-shadow: 0px 0px 25px -10px #65565f;
}
.btn {
  background-color: #65565f;
  border-color: #65565f;
}
.JGP {
  margin-bottom: 20px;
  text-align: center;
}
